<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - CareerPilot AI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

<div class="container">

    <h1>CareerPilot AI</h1>

    <h2>Login</h2>

    <form action="/login" method="POST">

    <input
        type="email"
        name="email"
        placeholder="Enter your Email"
        required>

    <div class="password-container">

        <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your Password"
            required>

        <span id="togglePassword">👁️</span>

    </div>

    <button type="submit">
        Login
    </button>

</form>

    <br>

    <a href="/register">
        don't have an account? Register
    </a>

</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>